* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
#pragraf{
    display: flex;
    justify-content:space-between;
    background-color: aliceblue;
    padding-top: 1%;
    border-radius: 1%;
}
.first{
    display: flex;
    margin-top:6px;
  margin-left: 83px; 
}
.p1{
    margin-block-start: -15px;
    font: italic small-caps bold 14px/30px Georgia, serif; 
}
.p2{
    margin-left: 11px;
    margin-block-start: -9px;
}
.second{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
    margin-top: -1%;
}
#search{
    margin-left:38px;
}
.image{
  margin-left: 8%;
}
.image {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  /* navbar starts */
  #navBar {
    /* background-color: orange; */
    height: 50px;
    background-color: rgb(16, 25, 137);
    color:whitesmoke;
  }
  #navBar article {
    /* background-color: green; */
    height: 50px;
    width: 90%;
    margin: auto;
    display: flex;
  }
  #navBar div {
    height: 50px;
    /* border: 1px solid; */
  }
  #menuBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #authBlock {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 100%;
  }
  li {
    list-style: none;
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }
  
  #navBar img {
    height: 54px;
    width: 54px;
  }
  /* navbar ends */

  /* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* news slider outoupdate Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides1 {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next1 {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  